@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
  font-family: "Poppins", sans-serif;
}

.container_ini {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

h1{
    text-align: center;
}
  
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #F9A7EE;
}
  
.active {
    background-color: #F9A7EE;
}
/*Estilizando o footer da pagina*/

.footer
{
    padding-block: 10px;
    background-color: #F9A7EE;
    color: 0 1.5rem;
}
.footer_container
{
  max-width: 116rem;
  margin: auto;
  padding: 0 1.5rem;
}
.footer_top
{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
  row-gap: 2rem;
}
.footer_title
{
  font-size: 1.8rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 2rem;
}
.footer_list
{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer_list-link
{
  text-decoration: none;
  color: inherit;
  transition: color .25s;
}
.footer_list-link:hover
{
  color: #F9A7EE;
}
.company_info
{
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-right: 5rem	;
}
.company_logo
{
  color: #fff;
}
.company_info ul
{
  flex-direction: row;
}
.copyright
{
  margin-top: auto;
}
.footer_list-link a
{
  background-color: #F9A7EE;
}
@media screen and(min-width: 40em)
{
  .company_info{
    grid-column: span 2;
  }
}
.ri-facebook-circle-line
{
  gap: 2rem;
}