@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.container_selecao{
  position: absolute;
 
}
.Selecao{
  display: inline;
  list-style: none;
}
.Selecao li a{
  font-size: 25px;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px Black;
}
.Selecao li a::before{
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}
.Selecao li a:hover::before{
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}