@page "/atividades"
@using Services;
@inject UserService service

<div class="container_ini">
    <div class="left">
        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/perfil">Perfil</a></li>
            <li><a class="active" href="/atividades">Atividades</a></li>
            <li><a href="/calendario">Calendario</a></li>
        </ul>
    </div>
</div>