@page "/inicio"
@using Services;
@inject UserService service


    <p>@nomeinicio</p>
<div class="iniciocontainer">
    <div>
        <li><a href="/perfil">Perfil</a></li>
        <li><a href="/atividades">Atividades</a></li>
        <li><a href="/calendario">Calendario</a></li>
    </div>
</div>

@code
{
    private string nomeinicio = "Seja bem vindo";

    public async void mostrarnome()
    {
        nomeinicio = "seja bem vindo ";
    }
}