@page "/inicio"
@using Services;
@inject UserService service

<div>
    <p>@nomeinicio</p>
    <ul>
        <li><a href="/perfil">Perfil</a></li>
        <li><a href="/atividades">Atividades</a></li>
        <li><a href="/calendario">Calendario</a></li>
    </ul>
</div>


@code
{
    private string nomeinicio = "Seja bem vindo";

    public async void mostrarnome()
    {
        nomeinicio = "seja bem vindo ";
    }
}