@page "/inicio"
@using Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject NavigationManager nav
@inject ProtectedSessionStorage storage
@inject UserService service

<h1 class="h1Inicio">Seja bem vindo @Nome</h1> 
<BeautyNav></BeautyNav>

@code
{   
    public string Nome;

     protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(!firstRender)
        {
            return;
        }
        var token = await storage.GetAsync<string>("token");
        var user = await service.GetUserInfo(token.Value);
        this.Nome = user.Nome;
        StateHasChanged();
    }

}

