@page "/inicio"
@using Services;
@inject UserService service


    <p>@nomeinicio</p>
    <input type="checkbox" id="chec">
    <label for="chec">

    </label>
<nav>
    <ul>
        <li>
        <input type="submit" value="Perfil" class="btn" onclick ="/"/>
        <input type="submit" value="Atividades" class="btn" onclick ="/"/>
        <input type="submit" value="Calendario" class="btn" onclick ="/"/>
        </li>
    </ul>
</nav>

@code
{
    private string nomeinicio = "Seja bem vindo";

    public async void mostrarnome()
    {
        nomeinicio = "seja bem vindo ";
    }
}