@page "/"
@using Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject NavigationManager nav
@inject ProtectedSessionStorage storage
@inject UserService service 

    <div class="container">   
      <div class="forms-container">
        <div class="signin-signup">
            <h2 class="title">Entrar</h2>
        @if (loginError != "")
        {
         <p>
         <label style="color: red;">@loginError</label>
        </p>
        }
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Usuário" @bind-value = "@nome"/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Senha" @bind-value = "@senha"/>
            </div>
            <input type="submit" value="Entrar" class="btn solid" onclick="@UsuarioLogin"/>
          </div>
        </div>
      </div>
      
@code 
{
    private string loginError = "";
    private string nome;
    private string senha;
    

    public async void UsuarioLogin()
    {
        var result = await service.Login(
            this.nome,
            this.senha
        );
        if (result == null)
        {
            loginError = "Senha ou Login Incorretos.";
            StateHasChanged();
            return;
        }
        await storage.SetAsync("token", result);
        nav.NavigateTo("/inicio");
    }
}


