@page "/perfil"
@using Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject NavigationManager nav
@inject ProtectedSessionStorage storage
@inject UserService service 

<div class="container_ini">
    <div class="left">
        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a class="active" href="/perfil">Perfil</a></li>
            <li><a href="/atividades">Atividades</a></li>
            <li><a href="/calendario">Calendario</a></li>
        </ul>
    </div>
    <p>@nome</p>
    <p>@matricula</p>
    <p>@email</p>
</div>

@code
{
    public string nome;
    public string matricula;
    public string email;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var token = await storage.GetAsync<string>("token");
        var user = await service.GetUserInfo(token.Value);

        this.nome = user.Nome;
        this.matricula = user.Matricula;
        this.email = user.Email;
        StateHasChanged();
    }
}

