@page "/perfil"
@using Services;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject NavigationManager nav
@inject ProtectedSessionStorage storage
@inject UserService service 
@using dto

<div class="container_ini">
    <div class="left">
        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a class="active" href="/perfil">Perfil</a></li>
            <li><a href="/atividades">Atividades</a></li>
            <li><a href="/calendario">Calendario</a></li>
        </ul>
    </div>
</div>
<p>@nome</p>
<p>@matricula</p>
<p>@email</p>

@code
{
    public string nome;
    public string matricula;
    public string email;
    protected override async Task OnInitializedAsync()
    {
        UsuarioDTO user = new UsuarioDTO();
        var token = await storage.GetAsync<string>("token");
        nome = user.Nome;
        matricula = user.Matricula;
        email = user.Email;
        StateHasChanged();
    }
}