@page "/inicio"
@using Services;
@inject UserService service

<p>@nomeinicio</p>
<h1>Hola</h1>


@code
{
    private string nomeinicio;

    public async void mostrarnome()
    {
        nomeinicio = ("seja bem vindo " + this.service.Login);
    }
}